/************************************************/

/*    BODY:       */

/************************************************/

body {
 margin: 0;
 font-family: garamond;
}

/************************************************/

/*    HEADING:       */

/************************************************/

.head {
 background-color: black;
 color: white;
 height: 55px;
 display: flex;
}

.head img {
 height: 100%;
}

h2 {
 margin: 18px auto 0;
 font-size: 1em;
}


/************************************************/

/*    Gallery:       */

/************************************************/

span.title {
 background-color: black;
 color: white;
 padding: 0 3px;
}


section div {
 text-align: center;
 font-size: 1.2em;
 margin: 7px 0;
}

#wrapper {
 max-width: 800px;
 height: 725px;
 background-color: antiquewhite;
}

#wrapper,
.title,
footer {
 margin: 0 auto;
}

ul.items1 img,
ul.items2 img {
 width: 35px;
 height: 35px;
 float: left;
 margin-bottom: 35px;

}


.items1 li {
 list-style: none;
 clear: both;
 background-color: black;
 color: white;
 text-align: center;
 width: 130px;
}

.bg1,
.bg2 {
 width: 45%;
 font-size: 0.9em;
}

.bg1,
.bg2,
.head img,
h2 {
 float: left;
}



p {
 margin-top: 0.3em !important;
}

.bg2 .items1,
.bg1 .items1 {
 padding-left: 20%;
}

ol,
ul {
 padding: 0;
 text-align: left;
}

section {
 padding: 5px;
 height: 260px;
 background-image: url("../images/coffee_bg.jpg");
}

/************************************************/

/*    Footer:       */

/************************************************/

footer {
 width: 80%;
 clear: both;
 font-size: 1em;
 padding-top: 15px;
}


footer ul {
 padding: 0 0 0 0px;
}


footer,
.title,
h2 {
 text-align: center;
}


@media screen and (min-width: 480px) {

 h2 {
  font-size: 1.5em;
  margin: 14px auto 0;

 }

 .bg2 .items1,
 .bg1 .items1 {
  padding-left: 35%;
 }

}